html {
  font-family: "Georgia", sans-serif;
  font-size: 16px;
}

header nav ul {
  display: flex;
}

nav li {
  margin-left: 1rem;
}

nav li a,
a {
  text-decoration: none;
}

video {
  width: 100%;
  height: auto;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}


/* HEADER SECTION */

header strong {
  font-weight: bold;
}

.mobile {
  display: none;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.logo-content {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

/*MAIN BANNER SECTION */

.main-banner {
  background-color: grey;
  padding: 2rem 1.5rem;
}

.banner-container {
  display: flex;
  align-items: center;
}

.banner-container .image-container {
  width: 60%;
  margin-right: 1.5rem;
}

.banner-content h1 {
  font-size: 2.5rem;
}

.button {
  background-color: white;
}

/*ACADEMY INFORMATION */

.academy-container {
  display: flex;
  padding: 2rem 0 2rem 1.5rem;
}

.academy-info-left {
  width: 60%;
  margin-right: 1.5rem;
}

.academy-info-right {
  width: 40%;
  margin-left: 1rem;
}

.academy-info-right .image-container {
  width: 35%;
}

.academy-info-right .academy-content {
  width: 65%;
}

.info {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

/* CAREER SECTION */

.career-section-mobile {
  display: none;
}

.career-content {
  padding: 2rem 4.5rem; /*this sets width for career-content div */
}

.career-container {
  display: flex;
  flex-wrap: wrap;
}

.career-course {
  max-width: 30%;
  margin-top: 2rem;
  margin-left: 2rem;
}

.career-info .image-container {
  width: 40%;
  height: auto;
}



/* THESIS SECTION */

.thesis-section {
  padding: 2rem 0 2rem 1.5rem;
}

.thesis-container {
  display: flex;
}

.video-content {
  width: 60%;
}

.thesis-content {
  width: 40%;
}

.thesis-info {
  display: flex;
  align-items: center;
}

.thesis-info .image-container {
  width: 35%;
}

.thesis-info .thesis-content-text {
  width: 65%;
}



/* FOOTER SECTION */

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
