/* Universal styles */

html {
  font-family: "Georgia", sans-serif;
  font-size: 16px;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

nav li a,
a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h4,
p {
  line-height: 1.4;
}

video {
  width: 100%;
  height: auto;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}


/* HEADER SECTION */

header strong {
  font-weight: bold;
}

.header-mobile {
  display: none;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

@media only screen and (max-width: 700px) {
  .header-content .logo-content {
    display: none;
  }
  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: block;
  }
  .header-content .header-mobile {
    display: flex;
    justify-content: space-around;
  }

}

.logo-content {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

/*MAIN BANNER SECTION */

.main-banner {
  background-color: grey;
  padding: 2rem 1.5rem;
}

.banner-container {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .main-banner {
    padding: 0;
  }
  .banner-container {
    display: block;
  }
  .main-banner .banner-container .image-container {
    width: 100%;
    margin: 0;
  }
  .banner-container .banner-content {
    width: 100%;
    text-align: center;
  }
}

.banner-container .image-container {
  width: 60%;
  margin-right: 1.5rem;
}

.banner-content {
  width: 40%;
}

.banner-content h1 {
  font-size: 2.5rem;
}

.banner-content p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.banner-content a {   /*check this after eating */
  display: flex;
  justify-content: center;
}

.button-div {
  display: flex;
  justify-content: center;
}

.button {
  background-color: white;
  padding: 1rem 5rem;
}

/*ACADEMY INFORMATION */

.academy-container {
  display: flex;
  padding: 2rem 0 2rem 1.5rem;
}

.academy-content {
  margin-left: 1rem;
}

.academy-content p {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.academy-info-left {
  width: 60%;
  margin-right: 1.5rem;
}

.image-content {
  margin-top: 2rem;
}

.image-content p {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.academy-info-right {
  width: 40%;
  margin-left: 1rem;
}

.academy-info-right .image-container {
  width: 35%;
}

.academy-info-right .academy-content {
  width: 65%;
}

.info {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

/* CAREER SECTION */

.career-section-mobile {
  display: none;
}

.career-content {
  display: flex;
  flex-direction: column;
  align-items: center; /*this centers the div on the webpage */
  padding: 2rem 4.5rem;
}

.career-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.career-course {
  width: 30%;
  margin-top: 2rem;
  margin-left: 2rem;
}

@media only screen and (max-width: 1120px) {
  .career-course {
    width: 45%;
  }
}

@media only screen and (max-width: 800px) {
  .career-course {
    width: 80%;
  }
}

.course-description {
  margin: 1rem;
}

.course-description h4 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/* THESIS SECTION */

.thesis-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 2rem 1.5rem;
}

.thesis-section h1 {
  margin-bottom: 2rem;
}

.thesis-container {
  display: flex;
}

.video-content {
  width: 60%;
  margin-right: 1.5rem;
}

.video-container {
  margin-bottom: 1.5rem;
}

.video-content-text p {
  margin-top: .5rem;
}

.thesis-content {
  width: 40%;
}

@media only screen and (max-width: 768px) {
  .thesis-desktop {
    display: none;
  }

  .video-content {
    width: 100%;
    margin: 0;
  }

  .thesis-section {
    padding: 0;
  }

}

.thesis-content-text {
  margin-left: 1rem;
}

.thesis-info {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 1rem;
  background-color: blue;  /*this is to show padding in div */
}

.thesis-info .image-container {
  width: 35%;
}

.thesis-info .thesis-content-text {
  width: 65%;
}



/* FOOTER SECTION */

@media only screen and (max-width: 768px) {
  footer {
    font-size: .8rem;
  }
}


footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
